@charset "utf-8";
html,body{
  	  height: 100%;
  	  color: #FFA07A;
  	  font-family: sans-serif;
  	}

	body{
  	  background:url('allimage/a.jpg')  center center;	/*此处url(001tu.jpg)可直接改成black之类的*/
  	  background-size: cover;
  	  margin: 0;
  	  padding: 0;
  	  position: relative;
  	}

  	#container{
  	  width: 100%;
  	  text-align: center;
  	  position: absolute;
  	  top: 50%;
  	  transform: translateY(-50%);
  	  -ms-transform:translateY(-50%);	/* IE 9 */
  	  -moz-transform:translateY(-50%);	/* Firefox */
  	  -webkit-transform:translateY(-50%);	/* Safari  Chorme */
  	  -o-transform:translateY(-50%);	/* Opera */
  	}

  	h1{
  		font-size: 54px;
  		text-transform: uppercase;
  		margin-bottom: 20px;
  	}

  	p{
  		font-size: 21px;
  		margin-bottom: 40px;
      		margin-left: 25px;  /* 此行用于页面移动化，即用于移动端网页 */
      		margin-right: 25px; /* 此行用于页面移动化，即用于移动端网页 */
  	}

  	a{
  		font-size: 18px;
  		color: #FFA07A;
  		border:1px solid #FFA07A;
  		border-radius: 3px;
  		padding:10px 100px; 
  		text-decoration: none;
  	}
